blockquote {

  background-color: #EBF2ED;
  border: 4px solid #728C78;
  text-align: center;

  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;

  margin-top: 60px;
  margin-bottom: 60px;


}

body {

  background-color: #BFD9CA;

  font-family: 'Nanum Gothic', sans-serif;
  font-size: 18px;
  line-height: 1.5;

  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 80px;
  margin-left: 40px;
}

.caption {
  text-align: center;

}

div {
  padding-left: 100px

}

div.container {
      display:inline-block;
      text-align: center;

    }

h1 {
  font-family: 'Della Respira', serif;
  font-size: 48px;

  text-align: center;
}

h2, h3, h4, h5, h6 {
  font-family: 'Della Respira', serif;

  text-align: center;
}
